/* CSS Document */
#top
{
	display:block;
	margin:0 auto;
	width:1024px;
}
#sitetitle
{
	display:block;
	float:right;
	text-align:right;
	width:1024px;
}
#sitetitle h1
{
	width:957px;
	font-family:Tahoma, Geneva, sans-serif;
}
#maincontent
{
	display:block;
	margin:0 auto;
	width:1024px;
}
.youtube-player
{
	display:block;
	margin:0 auto;
	padding:15px 0px 0px 0px;
	width:800px;
}
#mainmenu
{
	display:block;
	margin:0 auto;
	width:1024px;
}
.menu
{
	display:block;
	margin:0 auto;
	padding:0px;
	width:1024px;
}
#mainmenu ul li
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	border:1px solid black;
	border-radius:5px;
	text-decoration:none;
	display:inline-block;
	margin:0px;
	padding:3px 2px 3px 2px;
	color:black;
	background:none;
	width:135px;
	text-align:center;
}
#mainmenu ul li ul
{
	position:relative;
	margin:5px 0px 0px 0px;
	display:none;
}
#mainmenu ul li:hover ul
{
	position:absolute;
	display:block;
	float:left;
}
#mainmenu ul li ul li
{
	background:white;
	border:1px solid grey;
	border-radius:0px;
	display:inline;
	float:left;
	width:200px;
}
#mainmenu ul li a span
{
	padding:0px;
	color:black;
}
#copyright
{
	display:block;
	margin:0 auto;
	width:1024px;
}
#copyright span
{
	display:block;
	float:left;
	padding:15px 0px 0px 75px;
	font-size:12px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	width:800px;
}