@charset "utf-8";
/* CSS Document */

#content{
	display:block;
	margin:50px auto 0 auto;
	width:1180px;
	height:auto;
}
#contenbox1{
	display:inline-block;
	clear:none;
	float:left;
	width:293px;
	margin-right:15px;
}
#contenbox3{
	display:inline-block;
	clear:none;
	float:left;
	width:293px;
	margin-left:15px;
}
	#contenbox3 ul.menu,
	#contenbox1 ul.menu
	{
		display:inline;
		float:left;
		margin:0;
		padding:0;
	}
		#contenbox3 ul.menu li ,
		#contenbox1 ul.menu li 
		{
			display:inline;
			float:left;
			text-decoration:none;
			width:120px;
			margin-bottom:15px;
		}
			
			#contenbox3 ul.menu li a,
			#contenbox1 ul.menu li a
			{
				color:#000000;
				text-shadow:#FFF;
			}

			#contenbox3 ul.menu li a span,
			#contenbox1 ul.menu li a span
			{
				display:inline-block;
				float:left;
				width:293px;
				height:150px;
				text-decoration:none;
				font-size:24px;
				font-family:Calibri;
				text-align:center;
			}
			#contenbox3 ul.menu li  a:hover span,
			#contenbox1 ul.menu li  a:hover span
			{
				/*color:#000000;*/
				text-shadow:#003300;
			}
			
#contenbox2{
	display:inline-block;
	float:left;
	clear:none;
	width:564px;
}

	.contentbox{
		display:inline-block;
		clear:both;
		width:293px;
		height:150px;
		margin-bottom:15px;
	}

.menu ul,.menu li,.menu span,.menu a{
	margin:0;
	padding:0;
	position:relative;
}
/*.has-sub{z-index:1;}*/
/*
.has-sub:hover > ul{display:block;background:#FFFFFF;position:absolute;z-index:1;}
.has-sub ul{display:none;position:absolute;width:293px;top:100%;left:0;background:none;z-index:1;}
.has-sub ul li{border-bottom:1px dotted #000000;width:293px;}
.has-sub ul li a {background:red;border-bottom:1px dotted #000000;font-size:14px;display:block;padding;width:293px;}
.has-sub ul li:hover a {background:#FFFFFF;}
*/
span.spantop {
	padding-top:50px;
}


		.homehead{
			width:100%;
			height:150px;
			background-color:rgba(151, 151, 151, 0.3);
		}
		.homemovie{
			width:100%;
			background-color:rgba(151, 151, 151, 0.3);
			height:326px;
		}
			.movieisi {
				width:535px;
				height:295px;
				margin:15px;
			}
		.homemedia{
			clear:none;
			width:100%;
		}


.font35{
	font-size:35px;
}
.colorblue{
	color:#00F;
}
.coloryellow{
	color:#eedb5c;
	text-shadow:#FFF;
}

.colorwhite{
	color:#FFFFFF;
	text-shadow:#FFF;
}