@charset "utf-8";
/* CSS Document */

p{
	display:inline;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	width:600px;
	line-height:25px;
	/*color:#400000;*/
	margin-left:20px;
}
ul#menuatas{
	display:block;
	margin:50px auto 0 auto;
	width:1250px;
	height:80px;
	padding:0;
	/*background-color:rgba(239, 239, 239, 0.3);*/
	background:#CCC;
	border-radius: 10px 10px 0 0;
	border:1px #400000 dotted;
	/*text-align:center;*/
	}
		ul#menuatas li{
			clear:none;
			display:inline-block;
			padding:5px 5px;
/*			background:#666;
			border-radius:10px;*/
			border-right:1px #999 solid;
		}
			ul#menuatas li a{
				text-decoration:none;
				font-family:Calibri;
				font-size:23px;
				margin:0 6px;
				color:#333;
				font-weight:bold;
				text-shadow:#FFF;
				display:inline-block;
				vertical-align:middle;
				line-height:40px;
			}
			ul#menuatas li a.select,
			ul#menuatas li a:hover{
				color:#999;
				border:none;
			}
#contentisi{
	display:block;
	margin:30px auto 30px auto;
	width:1180px;
	height:605px;
	/*background:url(../images/bgkiri.jpg)*/
}
a.btnhome{
	width:70px;
	height:70px;
	position:absolute;
	top:55px;
	right:160px;
	background:url(../images/btn_home.png);
	z-index:1;
}
	a.btnhome span{
		display:none;
	}
.wrapkanan{
	display:inline-block;
	margin:0 0 0 0;
	/*width:500px;*/
	width:475px;
	float:left;
	/*height:680px;*/
	height:600px;
	border-right:2px #400000 dotted;
	background:url(../images/bg_.jpg);
}
	.wrapkanan ul{
		display:inline-block;
		width:475px;
		margin-left:20px;
		padding:0;
		text-align:center;
	}
		.wrapkanan ul li{
			clear:none;
			display:inline-block;
			padding:5px 5px 0 5px;
		}
			.wrapkanan ul li a{
				text-decoration:none;
				font-family:Calibri;
				font-size:20px;
				color:#400000;
				/*font-weight:bold;*/
				text-shadow:#FFF;
				color:black;
			}
			.wrapkanan ul li a.select2{
				/*color:#008000;*/
				color:black;
			}
			.wrapkanan ul li a.select,
			.wrapkanan ul li a:hover{
				text-decoration:underline;
			}
	.wrapkanan ul.list{
		display:inline-block;
		width:475px;
		margin:0 0 0 20px;
		padding:0;
		float:left;
		text-align:left;
	}
		.wrapkanan ul.list li{
			clear:none;
			display:inline-block;
			padding:6px 0 0 15px;		
			/*background:url(../images/icon.png) no-repeat 0 7px;*/
			list-style:circle;
			width:435px;
		}
			.wrapkanan ul.list li a{
				text-decoration:none;
				font-family:Gabriola;
				font-size:22px;
				color:black;
				/*font-weight:bold;*/
				text-shadow:#FFF;
				line-height:22px;
			}
			.wrapkanan ul.list li a.select,
			.wrapkanan ul.list li a:hover{
				color:#051F9D;
			}
.wrapcenter{
	display:inline-block;
	width:1150px;
	height:575px;
	overflow:auto;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	margin:45px 0 0 45px;
}
.wrapkiri{
	display:inline-block;
	/*width:748px;*/
	width:700px;
	/*height:680px;*/
	height:600px;
	overflow:auto;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	margin:0 0 0 0;
	background:url(../images/bg_.jpg);
}


.wrapkiri ul{
		display:inline-block;
		width:700px;
		margin-left:20px;
		padding:0;
		text-align:center;
	}
		.wrapkiri ul li{
			clear:none;
			display:inline-block;
			padding:5px 5px 0 5px;
		}
			.wrapkiri ul li a{
				text-decoration:none;
				font-family:Calibri;
				font-size:25px;
				color:#400000;
				font-weight:bold;
				text-shadow:#FFF;
			}
			.wrapkiri ul li a.select2{
				color:#008000;
			}
			.wrapkiri ul li a.select,
			.wrapkiri ul li a:hover{
				text-decoration:underline;
			}
	.wrapkiri ul.list{
		display:inline-block;
		width:700px;
		margin:0 0 0 20px;
		padding:0;
		float:left;
		text-align:left;
	}
		.wrapkiri ul.list li{
			clear:none;
			display:inline-block;
			padding:6px 0 0 25px;		
			background:url(../images/icon.png) no-repeat 0 7px;
			/*width:680px;*/
			width:600px;
		}
			.wrapkiri ul.list li a{
				text-decoration:none;
				font-family:Calibri;
				font-size:18px;
				color:#400000;
				font-weight:bold;
				text-shadow:#FFF;
			}
			.wrapkiri ul.list li a.select,
			.wrapkiri ul.list li a:hover{
				color:#008000;
			}

	.wrapkiri h2{
		display:inline-block;
		margin:20px 0 0 20px;
		color:#030;
		font-size:25px;
		font-family:Gabriola;
		width:100%;
		padding-left:0;
		line-height:25px;
		/*background:url(../images/icon.png) no-repeat 0 7px;*/
	}
span.bingkai{
	padding:0 10px 0 0;
	/*background:url(../images/icon.png) no-repeat 0 7px;*/
}
span.bingkairight{
		/*background:url(../images/icon.png) no-repeat 0 7px;*/
		width:20px;
		display:inline-block;
}